- name: nginx - system user
  ansible.builtin.user:
    name: 'nginx'
    state: 'present'

# Kong installation steps from http://archive.vn/3HRQx
- name: nginx - system dependencies
  ansible.builtin.apt:
    pkg:
      - libpcre3-dev
      - libssl-dev
      - openssl
      - zlib1g-dev

- name: nginx - download source
  ansible.builtin.get_url:
    checksum: "{{ nginx_release_checksum }}"
    dest: '/tmp/nginx-{{ nginx_release }}.tar.gz'
    url: "https://nginx.org/download/nginx-{{ nginx_release }}.tar.gz"

- name: nginx - unpack archive
  ansible.builtin.unarchive:
    dest: '/tmp'
    remote_src: true
    src: "/tmp/nginx-{{ nginx_release }}.tar.gz"

- name: nginx - configure
  ansible.builtin.command:
    argv:
      - ./configure 
      - --prefix=/usr/local/nginx 
      - --conf-path=/etc/nginx/nginx.conf 
      - --with-http_ssl_module 
      - --with-http_realip_module 
      - --with-threads
  args:
    chdir: "/tmp/nginx-{{ nginx_release }}"
  become: true

- name: nginx - build and install
  community.general.make:
    chdir: "/tmp/nginx-{{ nginx_release }}"
    jobs: "{{ parallel_jobs | default(omit) }}"
    target: "{{ make_target }}"
  become: true
  loop:
    - 'build'
    - 'install'
  loop_control:
    loop_var: 'make_target'

- name: nginx - hand over ownership of /etc/nginx and /usr/local/nginx to user nginx
  ansible.builtin.file:
    owner: 'nginx'
    path: "{{ nginx_dir_item }}"
    recurse: true
  loop:
    - /etc/nginx
    - /usr/local/nginx
  loop_control:
    loop_var: 'nginx_dir_item'

# [warn] ulimit is currently set to "1024". For better performance set it to at least
# "4096" using "ulimit -n"
- name: nginx - bump up ulimit
  community.general.pam_limits:
    domain: 'nginx'
    limit_item: 'nofile'
    limit_type: 'soft'
    value: '4096'

- name: nginx - create service file
  ansible.builtin.template:
    dest: '/etc/systemd/system/nginx.service'
    src: 'files/nginx.service.j2'

# Keep it dormant for the timebeing

# - name: nginx - reload systemd
#   systemd:
#     daemon_reload: yes
