- name: Execute wal-g things when nixpkg_mode
  when:
    - nixpkg_mode
  block:
    - name: Create wal-g group
      ansible.builtin.group:
        name: 'wal-g'
        state: 'present'

    - name: Create wal-g user
      ansible.builtin.user:
        comment: 'WAL-G user'
        group: 'wal-g'
        groups: 'wal-g, postgres'
        name: 'wal-g'
        shell: '/usr/bin/nologin'
        system: true

    - name: Create a config directory owned by wal-g
      ansible.builtin.file:
        group: 'wal-g'
        mode: '0770'
        owner: 'wal-g'
        path: '/etc/wal-g'
        state: 'directory'

- name: Execute wal-g things when stage2_nix
  when:
    - stage2_nix
  block:
    - name: Install wal-g 2 from nix binary cache
      ansible.builtin.shell:
        cmd: sudo -u wal-g bash -c ". /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh && nix profile install github:supabase/postgres/{{ git_commit_sha }}#wal-g-2"
      become: true

    - name: nix collect garbage
      ansible.builtin.shell:
        cmd: sudo -u ubuntu bash -c ". /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh && nix-collect-garbage -d"
      become: true

    - name: Create symlink to make wal-g-v2 the default wal-g
      ansible.builtin.file:
        dest: '/usr/local/bin/wal-g'
        force: true
        src: '/home/wal-g/.nix-profile/bin/wal-g-2'
        state: 'link'
      become: true

    - name: Create /etc/wal-g/config.json
      ansible.builtin.file:
        group: 'wal-g'
        mode: '0664'
        owner: 'wal-g'
        path: '/etc/wal-g/config.json'
        state: 'touch'

    - name: Add script to be run for restore_command
      ansible.builtin.template:
        dest: '/home/postgres/wal_fetch.sh'
        group: 'postgres'
        mode: '0500'
        owner: 'postgres'
        src: 'files/walg_helper_scripts/wal_fetch.sh'

    - name: Add helper script for wal_fetch.sh
      ansible.builtin.template:
        dest: '/root/wal_change_ownership.sh'
        mode: '0700'
        owner: 'root'
        src: 'files/walg_helper_scripts/wal_change_ownership.sh'

    - name: Move custom wal-g.conf file to /etc/postgresql-custom/conf.d/wal-g.conf
      ansible.builtin.copy:
        dest: '/etc/postgresql-custom/conf.d/wal-g.conf'
        group: 'postgres'
        mode: '0664'
        owner: 'postgres'
        src: 'files/postgresql_config/conf.d/wal-g.conf'
