- name: debpkg_mode actions
  when:
    - debpkg_mode
  block:
    - name: Copy extension packages
      ansible.builtin.copy:
        dest: '/tmp/extensions/'
        src: 'files/extensions/'

    - name: Install extensions
      ansible.builtin.apt:
        deb: "{{ deb_item }}"
        force_apt_get: true
        install_recommends: false
        state: 'present'
        update_cache: true
      loop_control:
        loop_var: 'deb_item'
      with_fileglob:
        - '/tmp/extensions/*.deb'

    - name: pgsodium - determine PostgreSQL bin directory
      ansible.builtin.command:
        cmd:  pg_config --bindir
      changed_when: false
      register: 'pg_bindir_output'
      
    - name: store the PostgreSQL bin dir as a fact
      ansible.builtin.set_fact:
        pg_bindir: "{{ pg_bindir_output['stdout'] }}"

    - name: pgsodium - set pgsodium.getkey_script
      ansible.builtin.lineinfile:
        path: '/etc/postgresql/postgresql.conf'
        # script is expected to be placed by finalization tasks for different target platforms
        line: pgsodium.getkey_script= '{{ pg_bindir }}/pgsodium_getkey.sh'
        state: 'present'
      become: true

- name: debpkg_mode or stage2_nix actions
  when:
    - (debpkg_mode or stage2_nix)
  block:
    # supautils
    - name: supautils - add supautils to session_preload_libraries
      ansible.builtin.replace:
        path: '/etc/postgresql/postgresql.conf'
        regexp: "#session_preload_libraries = ''"
        replace: "session_preload_libraries = 'supautils'"
      become: true

    - name: supautils - write custom supautils.conf
      ansible.builtin.template:
        dest: '/etc/postgresql-custom/supautils.conf'
        mode: '0664'
        group: 'postgres'
        owner: 'postgres'
        src: 'files/postgresql_config/supautils.conf.j2'

    - name: supautils - copy extension custom scripts
      ansible.builtin.copy:
        dest: '/etc/postgresql-custom/extension-custom-scripts'
        src: 'files/postgresql_extension_custom_scripts/'
      become: true

    - name: supautils - chown extension custom scripts
      ansible.builtin.file:
        group: 'postgres'
        mode: '0775'
        owner: 'postgres'
        path: '/etc/postgresql-custom/extension-custom-scripts'
        recurse: true
      become: true

    - name: supautils - include /etc/postgresql-custom/supautils.conf in postgresql.conf
      ansible.builtin.replace:
        path: '/etc/postgresql/postgresql.conf'
        regexp: "#include = '/etc/postgresql-custom/supautils.conf'"
        replace: "include = '/etc/postgresql-custom/supautils.conf'"
      become: true

- name: Cleanup - extension packages
  ansible.builtin.file:
    path: '/tmp/extensions'
    state: 'absent'
  when:
    - debpkg_mode
