- name: Install and configure tuned when stage2_nix
  when:
    - (stage2_nix or nixpkg_mode)
  block:
    - name: Install tuned
      ansible.builtin.apt:
        force_apt_get: true
        name: 'tuned'
        policy_rc_d: 101
        state: 'present'
        update_cache: true
      become: true

    - name: Create a tuned profile directory
      ansible.builtin.file:
        group: 'root'
        mode: '0755'
        owner: 'root'
        path: '/etc/tuned/postgresql'
        state: 'directory'
      become: true

    - name: Create a tuned profile
      community.general.ini_file:
        create: true
        group: 'root'
        mode: '0644'
        no_extra_spaces: true
        option: 'summary'
        path: '/etc/tuned/postgresql/tuned.conf'
        section: 'main'
        state: 'present'
        value: 'Tuned profile for PostgreSQL'
      become: true

    - name: Disable Transparent Huge Pages (THP)
      community.general.ini_file:
        create: true
        group: 'root'
        mode: '0644'
        no_extra_spaces: true
        option: "{{ thp_item['option'] }}"
        path: '/etc/tuned/postgresql/tuned.conf'
        section: "{{ thp_item['section'] }}"
        state: 'present'
        value: "{{ thp_item['value'] }}"
      become: true
      loop:
        - { section: 'bootloader', option: 'cmdline', value: 'transparent_hugepage=never' }
        - { section: 'vm', option: 'transparent_hugepages', value: 'never' }
      loop_control:
        loop_var: 'thp_item'

    - name: Activate the tuned service
      ansible.builtin.systemd_service:
        daemon_reload: true
        enabled: true
        name: 'tuned'
        state: 'restarted'
      become: true

    - name: Activate the PostgreSQL tuned profile
      ansible.builtin.command:
        cmd: tuned-adm profile postgresql
      become: true
