- name: PostgREST - system user
  ansible.builtin.user:
    name: 'postgrest'
    state: 'present'

- name: PostgREST - add Postgres PPA gpg key
  ansible.builtin.get_url:
    dest: /etc/apt/trusted.gpg.d/ppdg.asc
    force: true
    mode: '0644'
    url: 'https://www.postgresql.org/media/keys/ACCC4CF8.asc'

- name: PostgREST - add Postgres PPA main
  ansible.builtin.apt_repository:
    filename: 'postgresql-pgdg'
    repo: "deb http://apt.postgresql.org/pub/repos/apt/ noble-pgdg {{ postgresql_major }}"
    state: 'present'

- name: PostgREST - install system dependencies
  ansible.builtin.apt:
    package:
      - libnuma-dev
      - libpq5
    update_cache: true
    state: 'present'

- name: PostgREST - grab the list of installed packages
  ansible.builtin.package_facts:

- name: Show installed libpq5 version
  ansible.builtin.debug:
    msg: "Installed libpq5 version: {{ ansible_facts['packages']['libpq5'][0]['version'] }}"

- name: PostgREST - remove Postgres PPA gpg key
  ansible.builtin.file:
    path: /etc/apt/trusted.gpg.d/ppdg.asc
    state: 'absent'

- name: PostgREST - remove Postgres PPA
  ansible.builtin.apt_repository:
    repo: "deb http://apt.postgresql.org/pub/repos/apt/ noble-pgdg {{ postgresql_major }}"
    state: 'absent'

- name: postgis - ensure dependencies do not get autoremoved
  ansible.builtin.command:
    cmd: apt-mark manual libpq5* libnuma* 

- name: postgis - allow libnuma-dev to be autoremoved
  ansible.builtin.command:
    cmd: apt-mark auto libnuma*-dev

- name: PostgREST - download ubuntu binary archive (arm)
  ansible.builtin.get_url:
    checksum: "{{ postgrest_arm_release_checksum }}"
    dest: '/tmp/postgrest.tar.xz'
    timeout: 60
    url: "https://github.com/PostgREST/postgrest/releases/download/v{{ postgrest_release }}/postgrest-v{{ postgrest_release }}-{{ download_binary }}.tar.xz"
  vars:
    download_binary: >-
      {%- if platform == "arm64" -%}
        ubuntu-aarch64
      {%- elif platform == "amd64" -%}
        linux-static-x86-64
      {%- endif -%}

- name: PostgREST - unpack archive in /opt
  ansible.builtin.unarchive:
    dest: '/opt'
    mode: '0755'
    owner: 'postgrest'
    remote_src: true
    src: '/tmp/postgrest.tar.xz'

- name: create directories
  ansible.builtin.file:
    group: 'postgrest'
    mode: '0775'
    owner: 'postgrest'
    path: '/etc/postgrest'
    state: 'directory'

- name: empty files
  ansible.builtin.file:
    group: 'postgrest'
    owner: 'postgrest'
    path: "/etc/postgrest/{{ empty_item }}"
    state: 'touch'
  loop:
    - base.conf
    - generated.conf
  loop_control:
    loop_var: 'empty_item'

- name: create conf merging script
  ansible.builtin.copy:
    content: |
      #! /usr/bin/env bash
      set -euo pipefail
      set -x
      cd "$(dirname "$0")"
      cat $@ > merged.conf
    dest: '/etc/postgrest/merge.sh'
    group: 'postgrest'
    mode: '0750'
    owner: 'postgrest'

- name: PostgREST - create service files
  ansible.builtin.template:
    dest: "/etc/systemd/system/{{ svc_item }}"
    src: "files/{{ svc_item }}.j2"
  loop:
    - postgrest.service
    - postgrest-optimizations.service
  loop_control:
    loop_var: 'svc_item'

- name: PostgREST - reload systemd
  ansible.builtin.systemd_service:
    daemon_reload: true
