name: Check shell scripts

on:
  push:
    branches:
      - develop
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo
      uses: supabase/postgres/.github/actions/shared-checkout@HEAD
    - name: Run ShellCheck
      uses: ludeeus/action-shellcheck@master
      env:
        SHELLCHECK_OPTS: -e SC2001 -e SC2002 -e SC2143
      with:
        scandir: './ansible/files/admin_api_scripts'

    - name: Run ShellCheck on pg_upgrade scripts
      uses: ludeeus/action-shellcheck@master
      env:
        SHELLCHECK_OPTS: -e SC2001 -e SC2002 -e SC2143
      with:
        scandir: './ansible/files/admin_api_scripts/pg_upgrade_scripts'
